# Sistem dosyaları
.DS_Store
Thumbs.db

# IDE ve Editor
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dosya Yüklemeleri
uploads/
temp/

# Ortam Değişkenleri
.env
.env.local
.env.*.local

# Derleme Çıktıları
dist/
build/

# Log dosyaları
logs/
*.log
